
{% extends '../base.html' %}
{% load static %}
{% load blog_tags %}
{% block content %}
<style>
@media and screen (max-width:970px){
    h2{
        font-size:24px!important;
    }
}

</style>


<section id="contact-page">
    <!-- <h2 class="text-mute text-center" style="font-size:6em;position:absolute;top:50%;width:100%;z-index:5;background:whitesmoke;">Coming Soon</h2> -->
    <div class="container">
        <div class="large-title text-center">        
            <h2>The SOL Report</h2>
            <section id="blog">
                    

                <div class="blog container">
                    <div class="row">
                        <div class="col-md-8">
                                {% for obj in object_list %}
                            <div class="blog-item">
                                 <h2><a href="/posts/detail/{{obj.slug}}/" class="blog_cat">{{obj.title}}</a></h2>
                                 <div>
                                {% if obj.image.url %}
                                <a href="/posts/detail/{{obj.slug}}/">
                                    <img class="img-responsive img-blog" src="{{ obj.image.url }}" width="100%" alt="" /></a>
                               {% endif %}
                               <p style="width:inherit;">{{obj.describe_one}}</p>
                               </div>
                                <div class="blog-content">
                                    
                                    <!-- <h2><a href="blog-item.html">Consequat bibendum quam liquam viverra</a></h2> -->
                                    <h3>{{ obj.get_markdown|truncatechars_html:120 }}</h3>
                                    <div>
                                    {% if obj.content_image.url == True%}
                                    <a href="/posts/detail/{{obj.slug}}/">
                                        <img class="img-responsive img-blog" src="{{ obj.content_image.url }}" width="100%" alt="" /></a>
                                   {% endif %}
                                   <p style="width:inherit;">{{obj.describe_two}}</p>
                                   </div>
                                    <a class="readmore" href="/posts/detail/{{obj.slug}}/">Read More <i class="fa fa-long-arrow-right"></i></a>
                                </div>
                            </div>
                            {% endfor %}
                            <!--/.blog-item-->
                            <div class="row">
                                    <div class="col-xs-12 text-center">
                                        

                                        {% if object_list.has_other_pages %}
                                        <ul class="pagination pagination-lg">
                                            {% if object_list.has_previous %}
                                          
                                            <li><a href="?page={{object_list.previous_page_number}}" style="margin-left:0px;"><i style="margin-left:15px;" class="fa fa-long-arrow-left"></i></a></li>
                                            {%else%}
                                            <li class="disabled"><a href="#" style="margin-left:0;"><i style="margin-left:15px;"class="fa fa-long-arrow-left"></i></a></li>
                                            {% endif %}
            
                                            {% for i in object_list.paginator.page_range %}
                                            {%if object_list.numbers == i %}
                                            <li class="active"><a href="#">{{i}}</a></li>
                                            {% else %}
                                            <li><a href="?page={{i}}">{{i}}</a></li>
                                            {% endif %}
                                            {% endfor %}
            
                                            {% if object_list.has_next %}
                                          
                                            <li><a href="?page={{object_list.next_page_number}}" style="margin-left:0;margin-right:15px;"><i class="fa fa-long-arrow-right"></i></a></li>
                                            {%else%}
                                            <li class="disabled"><a href="#" style="margin-left:0;margin-right:15px;"><i class="fa fa-long-arrow-right"></i></a></li>
                                            {% endif %}
                                         
                                            <!-- <li><a href="#">3</a></li>
                                            <li><a href="#">4</a></li>
                                            <li><a href="#">5</a></li>
                                            <li><a href="#"><i class="fa fa-long-arrow-right"></i></a></li> -->
                                        </ul>
                                        {%endif %}
                                        <!--/.pagination-->
                                    </div>
                                </div>
                        </div>
                        <!--/.col-md-8-->
        
                        <aside class="col-md-4">
                            <div class="widget search">
                                <form role="form" method='get'>
                                    <input type="text" class="form-control search_box" autocomplete="off" placeholder="Search Here" name="search_post">
                                    <button type="submit"><i class="fa fa-search"></i></button>
                                </form>
                            </div>
                            <!--/.search-->
                            
        
                            <div class="widget archieve">
                                <h3>Categories</h3>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <ul class="blog_archieve">   
                                              {% for tag in query %}
                                                <li>
                                            <a href="{% url 'posts:post_list_by_tag' tag.slug %}">{{ tag.name }} <span class="pull-right">{{tag.num_times}}</span></a></li>
                                                
                                              
                                              {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!--/.archieve-->
        
                            <div class="widget popular_post">
                                    {% get_most_commented_posts as most_commented_posts %}
                                    
                                <h3>Popular Post</h3>
                                <ul> 
                                        {% for obj in most_commented_posts|slice:"0:3" %}
                                        <a href="/posts/detail/{{obj.slug}}/" class="blog_cat">{{obj.title}}</a>
                                    <li>
                                           
                                        <a href="/posts/detail/{{obj.slug}}/">
                                                {% if obj.image %}
                                            <img style="width:100%;" src="{{ obj.image.url }}" alt="">
                                            {% endif %}
                                           
                                        </a>
                                    </li>
                                    {% endfor %}
                                
                                </ul>
                            </div>
                            <!--/.archieve-->
                            
        
                            <div class="widget  popular_post">
                                    <h3>Latest Post</h3>
                                    <ul> 
                                            {% show_latest_posts as latest_posts %}
                                            {% for obj in latest_posts|slice:"0:6" %}
                                            <a href="/posts/detail/{{obj.slug}}/" class="blog_cat">{{obj.title}}</a>
                                        <li>
                                               
                                            <a href="/posts/detail/{{obj.slug}}/">
                                                    {% if obj.image %}
                                                <img style="width:100%;" src="{{ obj.image.url }}" alt="">
                                                {% endif %}
                                               
                                            </a>
                                        </li>
                                        {% endfor %}
                                    
                                    </ul> 
                                    </div>
                            <!-- <div class="widget blog_gallery">
                                <h3>Our Gallery</h3>
                                <ul class="sidebar-gallery clearfix">
                                    <li>
                                        <a href="#"><img src="{% static 'images/sidebar-g-1.png' %}" alt="" /></a>
                                    </li>
                                    <li>
                                        <a href="#"><img src="{% static 'images/sidebar-g-2.png' %}" alt="" /></a>
                                    </li>
                                    <li>
                                        <a href="#"><img src="{% static 'images/sidebar-g-3.png' %}" alt="" /></a>
                                    </li>
                                    <li>
                                        <a href="#"><img src="{% static 'images/sidebar-g-4.png' %}" alt="" /></a>
                                    </li>
                                    <li>
                                        <a href="#"><img src="{% static 'images/sidebar-g-5.png' %}" alt="" /></a>
                                    </li>
                                    <li>
                                        <a href="#"><img src="{% static 'images/sidebar-g-6.png' %}" alt="" /></a>
                                    </li>
                                </ul>
                            </div> -->
                            <!--/.blog_gallery-->
                            
                            <!-- <div class="widget social_icon">
                                <a href="#" class="fa fa-facebook"></a>
                                <a href="#" class="fa fa-twitter"></a>
                                <a href="#" class="fa fa-linkedin"></a>
                                <a href="#" class="fa fa-pinterest"></a>
                                <a href="#" class="fa fa-github"></a>
                            </div> -->
                            
                        </aside>


                        
                    </div>
                    <!--/.row-->
                    <!-- <div class="row">
                        <div class="col-xs-12 text-center">
                            {% if object_list.has_other_pages %}
                            <ul class="pagination pagination-lg">
                                {% if object_list.has_previous %}
                              
                                <li><a href="?page={{object_list.previous_page_number}}" style="margin-left:0px;"><i style="margin-left:15px;" class="fa fa-long-arrow-left"></i></a></li>
                                {%else%}
                                <li class="disabled"><a href="#" style="margin-left:0;"><i style="margin-left:15px;"class="fa fa-long-arrow-left"></i></a></li>
                                {% endif %}

                                {% for i in object_list.paginator.page_range %}
                                {%if object_list.numbers == i %}
                                <li class="active"><a href="#">{{i}}</a></li>
                                {% else %}
                                <li><a href="?page={{i}}">{{i}}</a></li>
                                {% endif %}
                                {% endfor %}

                                {% if object_list.has_next %}
                              
                                <li><a href="?page={{object_list.next_page_number}}" style="margin-left:0;margin-right:15px;"><i class="fa fa-long-arrow-right"></i></a></li>
                                {%else%}
                                <li class="disabled"><a href="#" style="margin-left:0;margin-right:15px;"><i class="fa fa-long-arrow-right"></i></a></li>
                                {% endif %}
                             
                                <!-- <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#"><i class="fa fa-long-arrow-right"></i></a></li> -->
                            <!-- </ul> -->
                            {%endif %}
                            <!--/.pagination-->
                        <!-- </div> -->
                    <!-- </div> --> 
                </div>
            </section>
            <!--/#blog-->
        </div> 
        <div class="row contact-wrap"> 
        
        </div><!--/.row-->
    </div><!--/.container-->
</section><!--/#contact-page-->


{% endblock %}