<script>
    $(document).ready(function(){
    var _URL = window.URL || window.webkitURL;
    $("#id_image").change(function(e){
        let img_arr = ['jpg','jpeg','png']
        var file = this.files[0],img;
        if ($.inArray($(this).val().split('.').pop().toLowerCase(), img_arr) == -1 || Math.round(file.size / (1024 * 1024)) > 1){
        $('.create-post').prop('disabled',true)
        $('.error_format').fadeIn();
    
         return false
        }
    
        if (file ){
            img = new Image()
            img.onload = function(){        
                $('.create-post').prop('disabled',false)
                $('.error_format').fadeOut();
            }
    
        img.onerror = function(){
                $('.create-post').prop('disabled',true)
                $('.error_line').fadeIn();
            }
    
            img.src = _URL.createObjectURL(file);
        }
    });
    });
    
    
    
    </script>