{% extends "../base.html" %}
{% load crispy_forms_tags %}

{% block head_extra %} 
{{ form.media }}

{% endblock head_extra %}



{% block content %}
{% block javascript %}


<script>
   document.addEventListener("change", function(e){


if (document.activeElement.attributes.type.nodeValue === "file"){

if(e.target.files[0].size > 5000000){
    
      document.getElementById("file_error").style.display = "block";
    
}

else{
return document.getElementById("file_error").style.display = "none";
}
}
else{
    return false
}
});
    </script>

{% endblock javascript %}

<style>
.wmd-panel{
margin:0 auto!important;
min-width:100%!important;
}


</style>
<div class="container post-create" style="margin-top:87px;margin-bottom:5%;">
    
    <div class="row">
         
<div class='col-md-6 col-sm-12'>
        
<h1>Preview</h1>
<hr/>
<div class='content-preview'>
    <h3 id='preview-title'></h3>
    <p id='preview-content'></p>
    <img class="" src="" />
</div>
</div>

<div class='col-md-6 col-sm-12'>
<h1>Create New Post</h1>
<hr/>



<p class="error_format text-danger text-center" id="file_error" style="display:none;color:red;">Only (.jpeg,.jpg,.png) Files are Allowed or File Size Greater Than 2 MB</p>


<form method='POST' action='' class="post-form" enctype='multipart/form-data'>{% csrf_token %}
{{ form|crispy }}

<input type='submit' style="background:#EC5538;;" class='btn btn-primary create-post' value='Create Post' />
</form>
</div>
</div>

</div>


<style>
    .post-form .form-group{
        display:block!important;
        padding:15px!important;
    }
</style>
{% endblock content %}