django
pillow
django-crispy-forms
django-markdown-deux
django-extensions
markdown2
gunicorn
markdown
dj-database-url
dj-static
python-dotenv
psycopg2
google-cloud-storage
django-storages
django-taggit
boto3
psycopg2-binary


