django
waitress
pillow
django-crispy-forms
django-markdown-deux
django-extensions
markdown2
gunicorn
markdown
dj-database-url
dj-static
python-dotenv
psycopg2-binary
google-cloud-storage
django-storages
django-taggit
pip install -e git+https://github.com/gbozee/django-paystack.git@master#egg=paystack