django
waitress
pillow
boto3
django-crispy-forms
django-markdown-deux
django-extensions
markdown2
gunicorn
markdown
dj-database-url
dj-static
python-dotenv
psycopg2-binary
google-cloud-storage
django-storages
django-taggit
-e git+https://github.com/gbozee/pypaystack.git@master#egg=paystack==1.5.0