{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% block head_title %}Home | SOL{% endblock head_title %}</title>

    <!-- core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/prettyPhoto.css' %}" rel="stylesheet">
    <link href="{% static 'css/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/icomoon.css' %}" rel="stylesheet">
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
    <link href="{% static 'css/responsive.css' %}" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="{% static 'js/html5shiv.js' %}"></script>
    <script src="{% static 'js/respond.min.js' %}"></script>
    <![endif]-->
    <link rel="shortcut icon" href="{% static 'images/sol/sol-logo.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static 'images/ico/apple-touch-icon-144-precomposed.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static 'images/ico/apple-touch-icon-114-precomposed.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static 'images/ico/apple-touch-icon-72-precomposed.png' %}">
    <link rel="apple-touch-icon-precomposed" href="{% static 'images/ico/apple-touch-icon-57-precomposed.png' %}">
</head>
<!--/head-->

<body class="homepage">

    {% include './header.html' %}

{% include './message.html' %}
{% block content %}



{% endblock content %}










{% include './footer.html' %}

<script src="{{paystack_script}}"></script>
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery.prettyPhoto.js' %}"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/jquery.isotope.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script>

$('.view-sab,.view-mic,.view-olu,.view-elo,.view-aig,.view-hen,.view-mar,.view-ono').click(function(e){
    let getBtn = e.target.parentElement.id
    $(""+ "#" + getBtn + " " + "span").toggle(1000);
    $(""+ "#" + getBtn + " " + ".view-profile").text('Close Profile').click(function(){
        $(this).text('View Profile')
    })
})


    </script>

<script>
let donateClick = document.getElementById('donate-form')
let URL ='/donate_record'

function clearField(){
document.querySelector('#name').value=''
document.querySelector('#phone').value=''
document.querySelector('#message').value=''
document.querySelector('#village').value=''
document.querySelector('#amount').value=''
document.querySelector('#email').value=''
return
}

const donate = async (e)=>{

e.preventDefault()
const name = document.querySelector("#name").value.trim();
const phone = document.querySelector("#phone").value.trim();
const village = document.querySelector("#village").value.trim();
const message = document.querySelector("#message").value.trim();
const amount = document.querySelector("#amount").value.trim();
const email = document.querySelector("#email").value.trim();



$.ajax({
      url: URL,
      data: {name,phone,village,message,amount,email,csrfmiddlewaretoken:'{{csrf_token}}'},
      type: "post",
      dataType: 'json',
      success: function (data) {

    if(data.invalid_data){
        
        document.querySelector('#donate-error').style.display='block';
        document.querySelector('#donate-error').innerHTML=data.invalid_data;
        setTimeout(()=>{
            document.querySelector('#donate-error').style.display='none';
        },4000)
    }
    else{
    clearField()
    document.querySelector('#donate-button').style.display='none';
    document.querySelector('#donate-success').style.display='block';
    document.querySelector('#donate-success').style.display='block';
    document.querySelector('#donate-success').innerHTML=data.success;
   if(data.donate_message){
       document.querySelector('#donate-message').innerHTML=data.donate_message; 
   }
    setTimeout(()=>{
            document.querySelector('#donate-success').style.display='none';
            window.location.href = "/pay_donation"
        },3000)
    }
      }
      })


}

donateClick.addEventListener('submit',donate)

/*window.addEventListener('DOMContentLoaded',() => {
 document.querySelector('#django-paystack-button').style.display='none';
})*/


</script>




{% block javascript %} 



{% endblock javascript %}

</body>

</html>
