
{% extends './base.html' %}
{% load staticfiles %}
{% block content %}



<section id="contact-page">
    <h2 class="text-mute text-center" style="font-size:6em;position:absolute;top:50%;width:100%;z-index:5;background:whitesmoke;">Coming Soon</h2>
    <div class="container">
        <div class="large-title text-center">        
            <h2>Springs of Life Global Missions Blog</h2>
            <!-- <p>All users on MySpace will know that there are millions of people out there. Every day <br> besides so many people joining this community.</p> -->
        </div> 
        <div class="row contact-wrap"> 
        
        </div><!--/.row-->
    </div><!--/.container-->
</section><!--/#contact-page-->


{% endblock %}