{% load static %}

<style>
    #get_involved_ul li{
        margin-bottom:10px;
        color:white!important;
    }

    #get_involved_ul a:hover{
        color:white!important;
    }
</style>


<script>
function hover(){
document.querySelector('#get_involved ul').style.display="block";
}
function unhover(){
document.querySelector('#get_involved ul').style.display="none";
}
</script>


    <header id="header">
        <div class="top-bar">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-xs-12">
                        <div class="top-number">
                            <p><i class="fa fa-phone-square"></i> +234 803 892 6146</p>
                        </div>
                    </div>
                    <!-- <div class="col-sm-6 col-xs-12">
                        <div class="social">
                            <ul class="social-share">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                <li><a href="#"><i class="fa fa-skype"></i></a></li>
                            </ul>
                            <div class="search">
                                <form role="form">
                                    <input type="text" class="search-form" autocomplete="off" placeholder="Search">
                                    <i class="fa fa-search"></i>
                                </form>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
            <!--/.container-->
        </div>
        <!--/.top-bar-->

        <nav class="navbar navbar-inverse" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% url 'sol:home' %}"><img src="{% static 'images/sol/sol-logo.jpeg' %}" style="width:115px;height:68px;" alt="logo"></a>
                </div>

                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li class="active home-header"><a href="{% url 'sol:home' %}">Home</a></li>
                        <li><a href="{% url 'sol:about' %}">About Us</a></li>
                        <li><a href="{% url 'sol:donation'%}">Donate</a></li>
                        <li><a href="{% url 'posts:list'%}">Blog</a></li>
                       <!-- <li><a href="posts:create>Create Post</a></li>-->
                        <li id="get_involved" onmouseover="hover()"onmouseout="unhover()"><a href="{% url 'sol:our_ministries' %}">Get Involved</a>
                        <ul id="get_involved_ul" style="display:none;background:#151515;padding: 15px;z-index: 2;width: 300px;font-size:16px;position:absolute">
                            <li style="list-style-type: none;"><a href="{% url 'sol:edu_mission' %}">Education Missions</a></li>
                            <li style="list-style-type: none;"><a href="{% url 'sol:med_mission' %}">SOL Outreaches</a></li>
                            <li style="list-style-type: none;"><a href="{% url 'sol:church_plant' %}">Mission Fields</a></li>
                            <li style="list-style-type: none;"><a href="{% url 'sol:grow_mission' %}">Grow in Missions</a></li>
                            <li style="list-style-type: none;"><a href="{% url 'sol:pray_withus' %}">Pray With Us</a></li>
                            <li style="list-style-type: none;"><a href="{% url 'sol:pray_withus' %}">MTC</a></li>
                        
                        </ul>
                        </li>

                        <!-- <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pages <i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="blog-item.html">Blog Single</a></li>
                                <li><a href="pricing.html">Pricing</a></li>
                                <li><a href="404.html">404</a></li>
                            </ul>
                        </li>
                        <li><a href="blog.html">Blog</a></li> -->
                        <li><a href="{% url 'sol:contact' %}">Contact</a></li>
                    </ul>
                </div>
            </div>
            <!--/.container-->
        </nav>
        <!--/nav-->





 

 
    </header>
    <!--/header-->