


{% for message in messages %}
{% if 'success' in message.tags %}

    <div class="alert alert-success" style="text-align:center;margin:0!important;color:white;width:100%!important;font-weight:bold;background:#155724;">
        <a class="close" href="#" data-dismiss="alert">×</a>
     

            {{ message|striptags }}

    </div>
{% endif %}
{% endfor %}

{% for message in messages %}
{% if 'error' in message.tags %}
    <div class="alert alert-danger" style="background:red;margin:0!important;color:white;text-align:center;z-index:7;font-weight:bold;width:100%!important;">
        <a class="close" href="#" data-dismiss="alert">×</a>
        Sorry!

            {{ message|striptags }}

    </div>

<style>
@media screen and (min-width:1100px){
.alert{
margin-left:89px!important;
}
}

</style>

{% endif %}
{% endfor %}
