
{% extends './base.html' %}
{% load staticfiles %}
{% load paystack %}

{% block content %}



<section id="contact-page">
  <!--<h2 class="text-mute text-center" style="font-size:6em;position:absolute;top:50%;width:100%;z-index:5;background:whitesmoke;">Coming Soon</h2> -->
    <div class="container">
        <div class="large-title text-center">        
            <h2>Support Springs of Life Global Missions. Make Your Donation Here</h2>
            <!-- <p>All users on MySpace will know that there are millions of people out there. Every day <br> besides so many people joining this community.</p> -->
        </div> 
       

        <div class="row contact-wrap"> 
        <div class="col-md-5  col-sm-12 col-xs-12 btn btn-primary btn-lg">
            <p>Email Address: {{email}}</p>
        </div>
        <div class="col-md-5 col-md-offset-2 col-sm-12 col-xs-12 btn btn-primary btn-lg">
            <p>Amount to donate: N {{amount}}</p>
        </div>
                      
        <div class="col-sm-12 col-sm-12 col-xs-12 add-donate" style="margin-top:5%;">
                       

        {% paystack_button button_class="col-md-4 col-md-offset-4 col-sm-12 col-xs-12 btn btn-primary btn-lg" amount=amount email=email %}
            </div>
        </div><!--/.row-->
    </div><!--/.container-->
</section><!--/#contact-page-->


{% endblock %}