
{% extends '../base.html' %}
{% load static %}

{% block content %}
<style>
.search-title{
display:flex;
flex-direction:column;
}

.search-title form{
align-self:flex-end;
display:flex;
}


.search-title form button{
background:#EC5538;
color:white;
}

.search-title form button:hover{
background:#4e4e4e;
color:white;
}

.card{
height:356px;
margin-bottom: 5%;
border: 2px solid whitesmoke;
box-shadow: -1px 6px 7px -4px;
}

.card img{
height: 100%;
width:100%;

}

.ministry-wrapper{
    display:flex;
    flex-direction:column;

}

.ministry-header{
    padding:0;
}
.ministry-header .ministry-background{
height: 500px;
width:100%;
background-size:cover;

}

.img-background{
    position:absolute;
    top:400px;
    width:100%;
    
}
.img-background h1{
color:white;
}

</style>
<section>
  
    <div class="container">
            <div class="ministry-wrapper">
<div class="col-md-12 ministry-header">
<div class="ministry-background" style="background-image:linear-gradient(rgba(0, 0, 0, 0.3)100%,rgba(0,0,0,0.5)100%),url({% static 'images/sol/ministry/plant_ministry.jpeg'%})" ></div>
<div class="img-background">
<h1>Church Plants</h1>
 <hr>
 </div>
  <h2 class="text-center">If you want to stop the gates of hell in a place.Plant a church.</h2>
 <p>SOL believes that Jesus builds His church(mathew16:18) as believers engage in discipleship. SOL missionaries use one-on-one evangelism, public meetings and events to engage communities with the gospel. As people come to Christ they are discipled to grow in their faith and develop to leaders of new faith communities. </p>
 


    </div>
        <div class="large-title text-center search-title">        
            
    <form class="form-inline" action="" method="post">
    {% csrf_token %}
    <input class="form-control mr-sm-2" name="search_query" type="text" placeholder="Search">
    <button class="btn" type="submit" >Search</button>
    
  </form>
        </div> 
    <h2 class="text-center" style="font-weight:bold;">{{village}}</h2>     

        <div class="row"> 
{% for church in church_plant %}
      <div class="card col-md-4">
  <img class="card-img-top" src="{{church.image.url}}" alt="Card image">
  <div class="card-body">
  </div>
</div> 
{% empty %}
<h2 class="text-center">No data available for that village. Check back later.</h2>
{% endfor %}
</div> <!-- End Row -->
</div> <!-- End Ministry Wrapper -->
</div> <!-- End Container -->
</div> <!-- End Section -->
{% endblock content %}