
{% extends '../base.html' %}
{% load static %}

{% block content %}
<style>
.search-title{
display:flex;
flex-direction:column;
}

.search-title form{
align-self:flex-end;
display:flex;
}


.search-title form button{
background:#EC5538;
color:white;
}

.search-title form button:hover{
background:#4e4e4e;
color:white;
}


.card{
height:auto;
margin-bottom: 5%;
border: 2px solid whitesmoke;
box-shadow: -1px 6px 7px -4px;
}

.card img {
    height: 310px;
    width:100%;

  }

.ministry-wrapper{
    display:flex;
    flex-direction:column;

}

.ministry-header{
    padding:0;
}
.ministry-header .ministry-background{
height: 700px;
width:100%;

}

.img-background{
    position:absolute;
    top:600px;
    width:100%;
    
}
.img-background h1{
color:white;
}

@media only screen and (max-width: 600px) {
  .card img {
    height: 180px;
  }

  .ministry-header .ministry-background{
height: 400px;
width:100%;
background-size:cover;

}
}
</style>
<section>


    <div class="container">
    <div class="ministry-wrapper">
<div class="col-md-12 ministry-header">
    {% if ministry_background %}
<div class="ministry-background" style="background-image:linear-gradient(rgba(0, 0, 0, 0.3)100%,rgba(0,0,0,0.5)100%),
url({{ministry_background.image.url}} ); background-position:center;" ></div>
{% else %}
<div class="ministry-background" style="background-image:linear-gradient(rgba(0, 0, 0, 0.3)100%,rgba(0,0,0,0.5)100%),
url({% static 'images/sol/ministry/edu_ministry.jpeg'%} )" ></div>
{% endif %}
<div class="img-background">
 <h1>Educational Missions</h1>
 <hr>
 </div>
 <h2 class="text-center">Access to education changes lives now and for generations to come. This is a long-term suitable impact.</h2>
 <p>When communities are poverty stricken, in the short term it will be necessary to meet people's immediate needs in the form of food, shelter and clothes. SOL does all of these, but our goal is always long term-missions that transforms and restores. We believe one of the most strategic ways to bring about transformation of communities in the long term is through education. We establish tuition free schools where none exists. </p>
    </div>


<div class="large-title text-center search-title">                   
    <form class="form-inline" action="" method="post">
    {% csrf_token %}
    <input class="form-control mr-sm-2" name="search_query" type="text" placeholder="Search by village">
    <button class="btn" type="submit">Search</button>
  </form>
  <h2 class="text-center" style="font-weight:bold;">{{village}}</h2>
        </div> 
         

<div class="row"> 
{% for edu in edu_mission %}
      <div class="card col-md-4">
        <h2 class="text-center">  {{edu.title}}({{edu.village}})</h2>

  <img class="card-img-top" src="{{edu.image.url}}" alt="Card image">
  <div class="card-body">
      {{edu.write_up}}
  </div>
</div> 
{% empty %}
<h2 class="text-center">No data available for that village. Check back later.</h2>
{% endfor %}
</div> <!-- End Row -->
</div><!-- End Ministry Wrapper -->
</div> <!-- End Container -->
</div> <!-- End Section -->
{% endblock content %}