
{% extends '../base.html' %}
{% load static %}

{% block content %}
<style>
.search-title{
display:flex;
flex-direction:column;
}

.search-title form{
align-self:flex-end;
display:flex;
}


.search-title form button{
background:#EC5538;
color:white;
}

.search-title form button:hover{
background:#4e4e4e;
color:white;
}


.card{

margin-bottom: 5%;
border: 2px solid whitesmoke;
box-shadow: -1px 6px 7px -4px;
}

.card img {
    height: 310px;
    width:100%;

  }

.ministry-wrapper{
    display:flex;
    flex-direction:column;

}

.ministry-header{
    padding:0;
}
.ministry-header .ministry-background{
height: 700px;
width:100%;

}

.img-background{
    position:absolute;
    top:600px;
    width:100%;
    
}
.img-background h1{
color:white;
}

.partner-li li{
list-style-type:none;
}


@media only screen and (max-width: 600px) {
  .card img {
    height: 180px;
  }

  .ministry-header .ministry-background{
height: 400px;
width:100%;
background-size:cover;

}
}
</style>
<section>


    <div class="container">
    <div class="ministry-wrapper">
<div class="col-md-12 ministry-header">
    {% if ministry_background %}
    <div class="ministry-background" style="background-image:linear-gradient(rgba(0, 0, 0, 0.3)100%,rgba(0,0,0,0.5)100%),
    url({{ministry_background.image.url}} ); background-position:center;" ></div>
    {% else %}
<div class="ministry-background" style="background-image:linear-gradient(rgba(0, 0, 0, 0.3)100%,rgba(0,0,0,0.5)100%),url({% static 'images/sol/ministry/partner_ministry.jpeg'%})" ></div>
{% endif %}
<div class="img-background">
 <h1>Partner With Us</h1>
 <hr>
 </div>
 <h2 class="text-center">GREAT COMMISSION HARVEST  (GCH) PARTNERSHIP</h2>
 <p>If you have been touched by all that the  Lord JESUS  is helping us to do ( through the sacrificial commitment of  believers as you),  and you feel a leading to be part of this, it is our prayer that you will  act on this good thing the Lord is placing in your heart.

We invite you to become a Great Commission harvest  Partner with Springs of life Global Evangelistic Ministry.

Our Great Commission harvest  Partners are those individuals who have been led by God to support what we do.

Your gift of love will assist us in continuing our various  ministries as well as expanding it. As we speak,  we have missionaries who are trusting God for the resources to move into Benin republic and the republic of Cameroon. 
 

"But remember the Lord your God, for it is he who gives you the ability to produce wealth, and so
confirms his covenant, which he swore to your forefathers, as it is today." - Deuteronomy 8:18 (NIV)

 

<p>Click Below To Begin your Partnership with Springs of life Global Evangelistic Ministry. </p>


Giving to Missions is God's master plan of spreading the gospel and establishing His Kingdom. It is the definite Bible principle. When you enter into a partnership with this ministry and you give into the spreading of the Gospel, you activate a spiritual principle of sowing, reaping, and blessing in your own life. What you make room for, will make room for you. There is grace and anointing in partnership.  When you make room for the anointing; the anointing makes room for you! By blessing those dedicated to advancing the gospel amongst the unreached and the have- nots, you make room for God to bless you and provide for you. The Lord promises us that He sees and rewards every good thing we do, motivated by a pure heart.
 

When we Partner in ministry—standing with each other, believing for each other and supporting each
other—miracles become commonplace. Graces and  anointings combine and open doors that allow us each to do exceeding abundantly above all we could ask or think. Your calling, career, business, ministry, matter how great or small, becomes part of what we do…and vice versa…so there's nothing the enemy can do to stop us!</p>

 


<ul class="partner-li">
 <p>Partnership Benefits</p>
<li>🎯 Regular  prayer covering for all partners and their family. </li>

<li>🎯 Ministry updates to all partners, written correspondence via the postal service or email.</li>

<li>🎯 A promise of good stewardship over ALL donations with a commitment to operating with integrity and excellence.</li>

<li>🎯 You get all books written by SOL Director of Missions,  Henry Oise free.</li> 
</ul>
 



<ul class="partner-li">
 <p>Partnership Responsibilities<p>
<li> 🎯 Prayer for SOL missionaries and their families.</li> 

<li> 🎯 Attend Springs of life Global Evangelistic Ministry (SOL) Events and Meetings whenever possible</li>

<li>🎯 Invite others to be a part of Springs of life Global Evangelistic Ministry ( SOL).</li>

<li>🎯 Support SOL through your financial giving as the Lord provides seed to the sower</li>

<li>🎯 Volunteer (whenever possible) for short-term missionary trips.</li>

<li>🎯 Covenant Partnership Monthly Contributions</li>

<li>🎯 Support Options: Weekly, Monthly,  Bi-monthly,  Quarterly,  Every Six months, Every year.</li>

 
<p>Please fill  GCH Partnership Form and fill amount for the support option of your choice. </p>
    </div>



         

<div class="row"> 

</div> <!-- End Row -->
</div><!-- End Ministry Wrapper -->
</div> <!-- End Container -->
</div> <!-- End Section -->
{% endblock content %}