
{% extends '../base.html' %}
{% load static %}

{% block content %}
<style>
.search-title{
display:flex;
flex-direction:column;
}

.search-title form{
align-self:flex-end;
display:flex;
}


.search-title form button{
background:#EC5538;
color:white;
}

.search-title form button:hover{
background:#4e4e4e;
color:white;
}


.card{
margin-bottom: 5%;
border: 2px solid whitesmoke;
box-shadow: -1px 6px 7px -4px;
}

.card img{
height: 100%;
width:100%;

}

.ministry-wrapper{
    display:flex;
    flex-direction:column;

}

.ministry-header{
    padding:0;
}
.ministry-header .ministry-background{
height: 500px;
width:100%;

}

.img-background{
    position:absolute;
    top:400px;
    width:100%;
    
}
.img-background h1{
color:white;
}
</style>
<section>


    <div class="container">
    <div class="ministry-wrapper">
<div class="col-md-12 ministry-header">
    {% if ministry_background %}
    <div class="ministry-background" style="background-image:linear-gradient(rgba(0, 0, 0, 0.3)100%,rgba(0,0,0,0.5)100%),
    url({{ministry_background.image.url}} ); background-position:center;" ></div>
    {% else %}
<div class="ministry-background" style="background-image:linear-gradient(rgba(0, 0, 0, 0.3)100%,rgba(0,0,0,0.5)100%),url({% static 'images/sol/ministry/pray_ministry.jpeg'%})" ></div>
{% endif %}
<div class="img-background">
 <h1>Pray With Us</h1>
 <hr>
 </div>
 
    </div>


         

<div class="row prayers" style="margin-top:5%;"> 
{% for prayer in pray_withus %}
      <div class="card col-md-6">
  <img class="card-img-top" src="{{prayer.image.url}}" alt="Card image">
  <div class="card-body">
  <p class="text-center">{{prayer.pray_time.Date}}</p>
  <button onClick="pray_withclass="view-prayer btn-primary">View Prayer Point</button>
  <p style="display:none;" class="text-center" id="prayer-point">{{prayer.prayer_point}}</p>
  
  </div>
</div> 
{% empty %}
<h2 class="text-center">No prayer point available yet. Check back later.</h2>
{% endfor %}
</div> <!-- End Row -->
</div><!-- End Ministry Wrapper -->
</div> <!-- End Container -->
</div> <!-- End Section -->
{% endblock content %}