
{% extends '../sol/base.html' %}
{% load static %}
{% block content %}


<div class="page-title">
    <h1 style="color:#222;">Donation</h1>
</div>

<section id="contact-page">
    <div class="container">
        <div class="large-title text-center">        
            <h2>Unsuccessful Donation</h2>
            <p>The donation towards Springs of life global ministry was unsuccessfull. Kindly try again<a href="/donate">Here</a>. God bless you.</p>
        </div> 

    </div><!--/.container-->
</section><!--/#contact-page-->


{% endblock %}